:root{
    /* Color styles */
   --trip-blue : #0051D3;
   --trip-yellow : #FFDA00;
   --trip-white : rgba(255, 255, 255, 1);
   --trip-gray1: rgba(181, 181, 181, 1);
   --trip-gray2: rgba(217, 217, 217, 1);
   --trip-gray3: #777;
   --trip-black: rgba(17, 17, 17, 1);
   --trip-skyblue: #D2E4FF;
   --trip-red: #FF6A6A;
   --trip-sun: #FF7F50;
   --trip-green: #3EB489;
   --bg-gray:#f3f3f3;


   /* Text-size styles */
   --main-slide: 4rem;
   --huge-text: 3rem;
   --big-text: 2.5rem;
   --semibig-text: 2rem;
   --mediumbig-text: 1.75rem;
   --medium-text: 1.5rem;
   --semismall-text: 1.25rem;
   --small-text: 1rem;
   --desc-text: 0.875rem;
   --m-small-text: 0.75rem;


   /* Font style */
   --theJamsil-thin: 'TheJamsil100';
   --theJamsil-light: 'TheJamsil300';
   --theJamsil-regular: 'TheJamsil400';
   --theJamsil-medium: 'TheJamsil500';
   --theJamsil-bold: 'TheJamsil700';
   --theJamsil-extrabold: 'TheJamsil800';

   /* Drop shadow */
   --dropShadow: 1px 1px 5px rgba(0,0,0,0.25)
}
*{
    font-family: 'Noto Sans KR', sans-serif; 
    font-size: 1rem;
}

body ::-webkit-scrollbar-track {
    background: var(--trip-skyblue);
    border-radius: 5px; /* 둥근 모서리 */
}
body ::-webkit-scrollbar {
    width: 5px;
}
body ::-webkit-scrollbar-thumb {
    background: var(--trip-blue);
    border-radius: 12px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .break-keep {
      word-break: keep-all;
      overflow-wrap: break-word;
    }
}

.sectionBanner{
    height: 15.375rem;
    background: url("https://d-hye.github.io/source/img/main_img/mainslide2.jpg") no-repeat center/cover;
}
.subContWrap{
    max-width: 64rem; 
    padding: 2.5rem 0; margin: auto;
    gap: 1.625rem;
    .sectionList{
        min-width: 14.75rem; height: fit-content;
        padding: 5rem 1.25rem;
        ul{
            a{
                font-family: var(--theJamsil-medium); font-size: var(--medium-text);
                span{ 
                    display: block;
                    width: 24px; height: 24px; margin-left: 0.5rem;
                    background: url("https://d-hye.github.io/source/img/icon/tab_icon/feelter.svg") no-repeat center/contain;
                }
            }
            .active a{ 
                color: var(--trip-blue);
                span{
                    background-image: url("https://d-hye.github.io/source/img/icon/tab_icon/c_feelter.svg");
                }
            }
        }
    }
    .sectionCont{
        flex-grow: 1;
        padding: 0 0.5rem;
    }

    @media only screen and (max-width: 1024px){
        flex-direction: column;
        padding-top: 0;
        .sectionList{
            padding: 2rem 1rem;
            border-radius: 0;
            ul{
                justify-content: center; flex-direction: row;
            }
        }
    }
}

