//햄버거메뉴
.hb_submenu {
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  &.open {
    //자바스크립트 토글클래스명
    transform: translateX(0%);
  }
}
// 메뉴리스트
.communitymenu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  li {
    width: 50%;

  }
}
.hb_sublist {
  .sublist {
    li {
      width: 50%;
      display: inline-block;
      .allPass {
        font-family: var(--theJamsil-medium);
      }
    }
  }
}