//햄버거메뉴
.hb_submenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  max-width: 25rem;
  width: 100%; /* 필요 시 추가 */
  flex-grow: 1;
  background-color: #fff;
  z-index: 999;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
    &.open {
      //자바스크립트 토글클래스명
      transform: translateX(0);
    }
  }
  .dim{
    position: fixed;
    top: 0;
    left: 374px;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 998;
    display: none;
    &.open{
      display:block;
      width: 100vw;
    }
  }
  .allMenuclose {
  padding: 1rem;
  margin: 0 1rem;
  cursor: pointer;
  background: transparent;
  border: none;
  }
  // 메뉴리스트
  .hb_list {
    overflow-y: auto;
    .scroll {
      overflow-y: auto;
    }
    div ul {
      margin-bottom: 1.875rem;
      row-gap: 0.5rem;
    }
    .communitymenu {
      li {
        width: 50%;
        a {
          font-size: var(--small-text);
          font-family: var(--theJamsil-medium);
        }
      }
    }
  }
  .hb_sublist {
    div {
      margin-bottom: 1rem;
      a {
        font-family: var(--theJamsil-medium);
      }
    }
    .sublist {
      li {
        width: 50%;
        display: inline-block;
        a {
          font-size: var(--small-text);
        }
        .allPass {
          font-family: var(--theJamsil-medium);
        }
      }
    }
  }